body {
    background: -webkit-linear-gradient(left, whitesmoke, lightsteelblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, whitesmoke, lightsteelblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, whitesmoke, lightsteelblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, whitesmoke, lightsteelblue); /* Standard syntax */
}


.mdl-grid {
    height: 100%;
    position: absolute;
    width:100%;

    /* Firefox */
    width: -moz-calc(100% - 16px);
    height: -moz-calc(100% - 16px);

    /* WebKit */
    width: -webkit-calc(100% - 16px);
    height: -webkit-calc(100% - 16px);

    /* Standard */
    width: calc(100% - 16px);
    height: calc(100% - 16px);

}

#left-half {
    height: 100%;
    /* grid has margin 8px, which is not subtracked by
    box-sizing, so we subtract it manually */
    /* Firefox */
    height: -moz-calc(100% - 16px);
    /* WebKit */
    height: -webkit-calc(100% - 16px);
    /* Standard */
    height: calc(100% - 16px);
}

#right-half {
    height: 100%;
    /* grid has margin 8px, which is not subtracked by
    box-sizing, so we subtract it manually */
    /* Firefox */
    height: -moz-calc(100% - 16px);
    /* WebKit */
    height: -webkit-calc(100% - 16px);
    /* Standard */
    height: calc(100% - 16px);
}

#editor{
    height: 100%;
}

#scroll-tab-1{
    overflow-y: auto;
    height: 100%;
}

#lesson {
    height: 90%;
    overflow-y: auto;
   position: relative;
   z-index: 1;
}

.buttonset {
   position: relative;
   z-index: 2;
   float: right;
   margin-right: 10px;
}


#scroll-tab-3, #scroll-tab-2 {
    height: 100%;
}

#M2Out, #M2In {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

#sendBtn {
   position: relative;
   z-index: 2;
   float: right;
   margin-top: 8px;
   margin-right: 24px;
}

#saveDialog {
   width: 300px;
}

#saveDialogClose{
   float: right;
}

#fullScreenOutput {
   width: 100%;
   height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#maximizeOutput, #downsizeOutput{
   float: right;
   z-index: 2;
   position: relative;
}

#M2Out {
   /* produce overlap with maximize/minimize buttons. */
   margin-top: -24px;
}

.sdbutton {
   width: 220px;
   color: blue;
   float: right;
}

#M2In {
   /* Produce overlap with evaluate button */
   margin-top: -44px;
}


code {
    white-space: pre;
    background-color: lightyellow;
    padding: 1px 3px;
    line-height: 1.5;
    cursor: pointer;
    /*font-size: 140%;*/
    margin-left: 20px;
    font-family: monospace;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
}

code2 {
    white-space: pre;
    background-color: lightyellow;
    /*padding: 1px 3px;*/
    box-shadow: 1px 1px 2px #000;
    margin-left: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    font-family: courier new;
    padding: 3px 6px;
    text-decoration: none;
}
