public/public-common/index.js
public/users.htpasswd
public/public-Macaulay2/user*
*.log
.idea
*.aux
*.bbl
*.blg
*.toc
*.ps
*.pdf
*.dvi
.DS_Store
node_modules
.vagrant/
*.swp
id_rsa*
docker_key*
host_key*
manuscript/jsag.maf
manuscript/jsag.mtc
manuscript/jsag.mtc0
manuscript/jsag.out
manuscript/jsag.synctex.gz
public/public-common/mathProgram.js
