/*CSS Sheet for TryM2*/

body {
	margin:0;
    padding:0;
    color:#000;
	background-color: #DCDCDC;
}

html {
    margin:0;
    padding:0;
    color:#000;
}

#input {
	position: absolute; 
	left: 0px; 

}

#M2In{
	width: 480px;
	height: 120px;
	
}

#M2Out{
	width: 480px;
	height: 300px;
	
}

#output {
	position: absolute; 
	left: 500px; 

}

.subHeader {
	background-color: #ABABAB;
	font-size: 24px;
}

#wrap {
    margin:0 auto;
    background-size: 100%;
}
/* VBI Logo and Title */
#header {
    float: center;
    margin: auto;
    width:924px;
    padding: 5px;
	background-color: #CCC;
}


/* Text Explanation */
#nav { text-align: justify; }

/* Main Block: Input Functions and State/Node Number; Also Output */
#main {
    float: center;
    margin: auto;
    width:924px;
/*    background:#9c9;*/ /*will be green for debugging purposes*/
}
/* Controls main color and size of boxes. Currently pale gray-ish */
#main table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ABABAB;
    background-color: #CCCCCC;
    width: 100%;
    border-spacing: 0px;
    padding: 1px;
}


#computation {
    float: center;
    margin: auto;
    width:924px;
    text-align: justify;
}
#footer {
    float:center;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    font-size: .8em;
    text-align: center;
}
div
{
font-family: Verdana, Arial;
style: position:absolute;
}


/* Controls color of the title boxes. Currently some kind of pale blue. */
td.titleBox
{
background-color: #99C9FF;
white-space: nowrap;
}
/* Creates those little gray lines dividing each section */
tr.lines td {
background-color: #DCDCDC;
height: 1px;
}
/* For explanation boxes */
td.explain {
    width: 40%;
    font-size: 12px;
}
