/*CSS Sheet for TryM2*/

body {
    color:#000;
    background-color: #DCDCDC;
}

html {
    color:#000;
}

#M2In {
    width: 480px;
    height: 250px;
}

#M2Out {
    width: 480px;
    height: 250px;
	font-family: monospace;
}

#areaTable {
	
}

table{
	background-color: #E8E8E8;
}

#tutorial {
	width: 480px;
	height: 280px;
	background-color: #CCFFFF;
}

.lesson {
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;*/
	background-color: #CCFFFF;
	margin-left: auto ;
  	margin-right: auto ;
  
}

/*.lessons {
	width: 300px;
	height: 280px;
}*/

code {
	background-color: yellow;
	cursor:pointer;
}