/*CSS Sheet for TryM2*/

body {
    color:#000;
    background-color: #DCDCDC;
	width: 1024px;
}

html {
    color:#000;
}

#leftwindow, #M2In, #M2Out {
    width: 512px;
    height: 750px;
}

#M2Out {
	font-family: monospace;
}

table{
	background-color: #E8E8E8;
	margin-left:auto; 
	margin-right:auto;
}

#tutorial {
	width: 512px;
	height: 280px;
	background-color: #CCFFFF;
}

.lesson {
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;*/
	background-color: #CCFFFF;
	margin-left: auto ;
  	margin-right: auto ;
  
}

code {
	background-color: yellow;
	cursor:pointer;
}