/*CSS Sheet for TryM2*/

body {
    color:#000;
    background-color: #DCDCDC;
    font-family: Helvetica;
}

#headers{
	position: relative;
}
#headerIn{
	float: left;
}
#headerOut{
	float: right;
	width:50%;
}

#M2headerOut{
	float: left;
	width:50%;
}

#TOC{
	float: right;
}

#leftbuttons{
	clear:both;
	
	float: left;
	width:50%;
}

#rightbuttons{
	float: right;
	width:50%;
}

#leftwindow{
	clear:both;
	float: left;
	width:50%;
}

#rightwindow{
	float: right;
	width:50%;
}

#content_portrait {
    display: none;
}
#content_landscape {
    display: none;
}

.show_portrait {
    height: 1000px;
    width: 768px;
}

.show_landscape {
    /*width: 1024px;
    height: 744px;*/
}


html {
    color:#000;
}

.shortrow {
    height: 5%;
}

.largerow {
    /*height: 90%;*/
}

#tutorial {
    display: none;
}

#M2In, #M2Out {
    width: 100%;
    height: 100%;
}

#M2Out {
	font-family: monospace;
}



div {
	/*height: 100%;*/
}

.lesson {
    height: 100%;
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;*/
	background-color: #CCFFFF;
	margin-left: auto ;
  	margin-right: auto ;
  
}

code {
	background-color: yellow;
	cursor:pointer;
}

#page-contents {
    
    text-align: left;
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 15em;
    border: 1px solid #ccc;
    border-top-width: 0;
    background-color: #e3e3e3;
}

#page-contents a {
    display: block;
    margin: .25em 0;
}

#page-contents div {
    padding: .25em .5em .5em;
    display: none;
    background-color: red;
}