/*CSS Sheet for TryM2*/

body {
    color:#000;
    background-color: #DCDCDC;
	width: 1024px;
    font-family: Helvetica;
}

.halfWidth {
	width: 49%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.rel { 
	position: relative;
}

.bottom {
	position: absolute; 
    bottom: 0;
	width: 100%;
}

div {
	/*border: 1px black solid;*/
}

.red {
	border: 1px red solid;
}


#title {
	font-size: 24pt;
	font-weight: bold;
}

.terminal {
	background-color: #C2DFFF;
}



#inputarea, #lesson, #outputarea {
	width: 49%;
	height: 312px;
}

#inputarea, #lesson {
	clear: both;

}

#outputarea {

}

#toc {
	float: left;
}

#credits {
	clear: both;
	font-size: 10pt;
}


#M2In, #M2Out {
	width: 100%;
	font-family: monospace;
	height: 100%;
}


/*#lesson {
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
	background-color: #C8C8C8  ;
  	color: black;
}*/

code {
	background-color: yellow;
	cursor:pointer;
	font-size: 140%;
}

/*#leftwindow.show_landscape, #rightwindow.show_landscape {
	height: 650px;
}

#leftwindow.show_portrait, #rightwindow.show_portrait {
	height: 850px;
}

#content_portrait {
    display: none;
}
#content_landscape {
    display: none;

}

.show_portrait {
    height: 1000px;
    width: 768px;
}

.show_landscape {
    /*width: 1024px;
    height: 744px;
}*/