/*CSS Sheet for TryM2*/

body {
    color:#000;
	background-color: #C8C8C8  ;
    font-family: Helvetica;
}

#headers{
	position: relative;
}

#headerIn{
	background-color: #C8C8C8  ;
	width: 40%;
	float: left;
	padding:5px 15px;
}

#headerOut{
	background-color: #C8C8C8  ;
	float: right;
	width:40%;
	padding:5px 15px;
}

#M2headerOut{
	background-color: #C8C8C8  ;
	float: left;
	width:50%;
}

#TOC{
	background-color: #C8C8C8  ;
	float: right;
}

#leftbuttons{
	clear:both;
	background-color: #C8C8C8  ;
	float: left;
	width:40%;
	padding:5px 15px;
}

#rightbuttons{
	background-color: #C8C8C8  ;
	float: right;
	width:40%;
	padding:5px 15px;
}

#leftwindow{
	clear:both;
	float: left;
	width:40%;
	height: 700;
	padding:5px 15px;
	
}

#rightwindow {
	float: right;
	width:40%;
	padding:5px 15px;
	
}

#leftwindow.show_landscape, #rightwindow.show_landscape {
	height: 650px;
}

#leftwindow.show_portrait, #rightwindow.show_portrait {
	height: 850px;
}

#content_portrait {
    display: none;
}
#content_landscape {
    display: none;
}

.show_portrait {
    height: 1000px;
    width: 768px;
}

.show_landscape {
    /*width: 1024px;
    height: 744px;*/
}


html {
    color:#000;
}


#tutorial {
    display: none;
}

#lesson, #inputarea, #M2In, #M2Out {
    width: 100%;
    height: 100%;
}

#inputarea {
	height: 90%; /*we want to override!*/
}

#M2Out {
	font-family: monospace;
}


#lesson {
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;*/
	margin-left: auto ;
  	margin-right: auto ;
	background-color: #C8C8C8  ;
  
}

code {
	background-color: yellow;
	cursor:pointer;
}

#page-contents {
    text-align: left;
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 15em;
    border: 1px solid #ccc;
    border-top-width: 0;
    background-color: #e3e3e3;
}

#page-contents a {
    display: block;
    margin: .25em 0;
}

#page-contents div {
    padding: .25em .5em .5em;
    display: none;
    background-color: #C8C8DD;
}