*~
*.o
*.lo
*.a
*.so
Makefile.in
.deps
.libs
*.la
*.pc
*.gmo
*.dirstamp
*.xz
Makefile
ABOUT-NLS
INSTALL
stamp-h1
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
autom4te.cache
m4
build-stamp
ChangeLog
VERSION
.gdb_history
