/*CSS Sheet for TryM2*/

html {
	height: 100%;	
	
}
#tutorial, #menuTutorial {
    height: 2px;
    overflow:scroll;
}

#save-dialog .ui-button {
    width: 150px;
    text-align: left;
}

#save-dialog {
    height: 200px;
    width: 200px;
}

a {
    color: #0000EE;
}

body {
    color:#000;
    background-color: #DCDCDC; /*#D8FFFF;*/
    font-family: Helvetica; /*Trebuche, Lucida Grande, Palatino Georgia,Helvetica;*/
	height: 96%;	
}

.halfWidth {
	width: 49%;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.left {
	float: left;

}

.right {
	float: right;
}

.clear {
    clear: both;
}

div-border
{
    border-style:solid;
    border-width:2px;
}

.rel { 
	position: relative;
}

div {
	/*border: 1px black solid;*/
}

.red {
	border: 1px red solid;
}

.bottom {
    position: absolute;
    bottom: 0;
}
#title {
	font-size: 24pt;
	display: inline;
	vertical-align: bottom;
	font-weight: bold;
}

.terminal {
	background-color: #C2DFFF;
}


#inputarea, #lesson, #TOC, #outputarea {
	width: 49.6%;
	height: 90%;
	border-style:solid;
    border-width:1px;
}

#lesson, #TOC {
	overflow-y: auto;
	font-family: Lucida Grande;
	padding: 25px 50px;
	box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    
}

#inputarea, #lesson, #TOC {
	clear: both;

}

#outputarea {

}

.inactive {
    color: lightgrey;
}


#M2In, #M2Out {
	width: 100%;
	font-family: monospace;
	height: 100%;
}

#M2Out {
    color: black;
    disabled: ;
}

/*#lesson {
	/*width: 680px;
	height: 300px;*/
	/*text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
	background-color: #C8C8C8  ;
  	color: black;
}*/

code {
	background-color: lightyellow;
	padding: 1px 3px;
	line-height: 1.5;
	cursor:pointer;
	/*font-size: 140%;*/
	margin-left: 20px;
	font-family: courier new;
	border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
}


/*#leftwindow.show_landscape, #rightwindow.show_landscape {
	height: 650px;
}

#leftwindow.show_portrait, #rightwindow.show_portrait {
	height: 850px;
}

#content_portrait {
    display: none;
}
#content_landscape {
    display: none;

}

.show_portrait {
    height: 1000px;
    width: 768px;
}

.show_landscape {
    /*width: 1024px;
    height: 744px;
}*/

#tmp {
	background-color:red;
	visibility:hidden;
}

.hidden {
	visibility:hidden;
}

