/*CSS Sheet for TryM2*/

html {
    height: 100%;

}

#tutorial, #menuTutorial {
    height: 2px;
    overflow: scroll;
}

#save-dialog .ui-button {
    width: 150px;
    text-align: left;
}

#save-dialog {
    height: 200px;
    width: 200px;
}

a {
    color: #0000EE;
}

body {
    color: #000;
    font-family: Helvetica; /*Trebuche, Lucida Grande, Palatino Georgia,Helvetica;*/
    height: 96%;
    background: -webkit-linear-gradient(left, whitesmoke, lightsteelblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, whitesmoke, lightsteelblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, whitesmoke, lightsteelblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, whitesmoke, lightsteelblue); /* Standard syntax */
}

.halfWidth {
    width: 49%;
    padding-top: 5px;
    padding-bottom: 5px;

}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

div-border {
    border-style: solid;
    border-width: 1px;
}

.rel {
    position: relative;
}

.red {
    border: 1px red solid;
}

.parent {
    border: 4px green solid;
}

.padded {
    padding: 0px 4px;
}

#title {
    font-size: 20pt;
    position: relative;
    top: 6px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.terminal {

}

.tall {
    height: 90%;
}

#inputarea, #lesson, #home, #outputarea {
    width: 49.6%;
    height: 100%;
    border-style: solid;
    border-width: 0.5px;
}

#lesson, #home {
    border-radius: 5px;
    overflow-y: auto;
    font-family: Lucida Grande;
    padding: 20px 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

#M2In, #M2Out {
    border-radius: 5px;
    width: 100%;
    font-family: monospace;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

#M2Out {
    color: black;
}

#about {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}

code {
    white-space: pre;    
    background-color: lightyellow;
    padding: 1px 3px;
    line-height: 1.5;
    cursor: pointer;
    /*font-size: 140%;*/
    margin-left: 20px;
    font-family: courier new;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
}

code2 {
    white-space: pre;
	background-color: lightyellow;
	/*padding: 1px 3px;*/
    box-shadow: 1px 1px 2px #000;
	margin-left: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	font-family: courier new;
    padding: 3px 6px;
	text-decoration:none;
}

.submenuItem {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-button, .ui-button-text .ui-button {
    font-size: 16px !important;
}

/* do not display title bars in dialogs when they alert and error*/
.alert .ui-dialog-titlebar {
    /*display:none;*/
}

.smallFont {
    font-size: 12px;
}

.image-text-wrap {
    float: right;
    margin: 10px;
    border-radius: 5px;
}



